@define-color bg-light @bg;

window#waybar {
  background-color: transparent;
  border: none;
}

#custom-networking,#custom-traffic,#custom-addr,#group-system,#custom-settings,#custom-memory,#custom-cpu,#custom-disk,#custom-backlight,#custom-notifications, #workspaces, #clock, #window, #tray, #custom-shutdown, #custom-logout, #custom-reboot, #custom-firmware, #custom-suspend, #custom-tray-collapsed, #custom-divider,#custom-clock-icon,#custom-pipewire-volume,#custom-pipewire-microphone,#group-power,#battery {
 margin-top: 12px;
 margin-bottom: 0;
}



