* {
  font-family: 'MesloLGM Nerd Font';
  font-feature-settings: '"zero","ss01","ss02","ss03","ss04","ss05","cv31"';
  font-size: 12px;
  min-height: 15px;
  
}

window#waybar.empty #window {
  background-color: transparent;
  transition: none
}

#workspaces button {
  color: #9C81C0;
}

#workspaces button.active {
  color: #9C81C0;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit
}

#window {
  transition: linear .3s
}

#tray {
  background-color: @bg-light;
  color: #9C81C0;
  padding-left: 10px;
  padding-right: 10px
}

#custom-left-end {
  margin-right: 5px;
  margin-left: 5px;
}

#custom-notifications {
  margin-right: 15px;
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 5px;

}

#workspaces {
  margin-right: 0px;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

#custom-clock-icon {
  margin-right: 0px;
  margin-left: 15px;
}

#clock {
  margin-right: 15px;
  margin-left: 0px;
}

#custom-networking,#custom-traffic,#custom-addr,#group-system,#custom-settings,#custom-memory,#custom-cpu,#custom-disk,#battery,#custom-backlight,#custom-shutdown,#custom-logout,#custom-reboot,#custom-firmware,#custom-suspend,#custom-tray-collapsed,#custom-pipewire-volume,#custom-pipewire-microphone,#custom-clock-icon,#clock {
  padding-left: 6px;
  padding-right: 6px;
}

#custom-networking,#custom-traffic,#custom-addr,#group-system,#custom-settings,#custom-memory,#custom-cpu,#custom-disk,#battery,#custom-backlight,#custom-pipewire-volume,#custom-pipewire-microphone,#workspaces,#custom-notifications,#group-power,#custom-shutdown,#custom-logout,#custom-reboot,#custom-firmware,#custom-suspend,#custom-tray-collapsed,#custom-divider,#custom-clock-icon,#clock {
  background-color: @bg-light;
  color: #9C81C0;
  
}



